div{
    background-color: #ffcc34;
    margin-bottom: 10px;
    border-bottom: 1px dashed #000;
    border-top: 1px dashed #777;
}

div>div{
    background-color: #ff22ff;
    padding-left: 10px;
}
div>div>div{
    background-color: #22ccaa;
    padding-left: 20px;
}
