<h1>
  NgxHihghlight
</h1>
<input type="text" [(ngModel)]="searchTerm" />
<div [highlight]="searchTerm">
  <div>
    some text before the loremo ipsum with html tags to check they are not chagend.
    html div span 
  </div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis, odio nec dictum facilisis, enim nunc scelerisque
  nisi, maximus semper felis dui eget neque. Phasellus ante felis, maximus sed justo mattis, semper pharetra neque. Pellentesque
  ante massa, pulvinar ac massa sit amet, malesuada fringilla dui. Mauris sollicitudin sollicitudin justo vel elementum.
  Fusce et mattis magna, a dictum augue. Pellentesque rhoncus lacus molestie augue consectetur, ut hendrerit mi maximus.
  Quisque cursus est sit amet molestie rutrum. Morbi faucibus sodales lacus et lacinia. Pellentesque id elit condimentum,
  lacinia tellus vitae, ornare lectus. Cras nisi massa, maximus viverra vestibulum ac, sollicitudin id arcu. Nam a commodo
  massa.
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit atque excepturi rem culpa, aperiam et. Quae tempora
    qui molestias distinctio beatae suscipit doloremque reiciendis, quisquam vel, recusandae, obcaecati dolor.
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit atque excepturi rem culpa, aperiam et. Quae tempora
      qui molestias distinctio beatae suscipit doloremque reiciendis, quisquam vel, recusandae, obcaecati dolor.
    </div>
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit atque excepturi rem culpa, aperiam et. Quae tempora
    qui molestias distinctio beatae suscipit doloremque reiciendis, quisquam vel, recusandae, obcaecati dolor.
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, suscipit atque excepturi rem culpa, aperiam et. Quae tempora
      qui molestias distinctio beatae suscipit doloremque reiciendis, quisquam vel, recusandae, obcaecati dolor.
    </div>
  </div>


<!--<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul>-->

</div>
